*{
  /* outline: 1px solid red; */
}
.App {
  text-align: center;
}

.image{
  max-width: 200px;
}
.content{
  color: "red" !important;
}

.Container{
  background-color: #FEFCF3;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Container .vertical-timeline-element-icon svg{
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
}

.Container .vertical-timeline-element-content{
  border-radius: 3.25em;
}